<ion-view view-title="Document Viewer">
    <ion-content>
        <div>
            <iframe src="templates/blank.html" width="100%" height="{{frameheight}}" frameborder="0" seamless="seamless" name="_documentViewer">
                <p>Sorry, but your device can't display iframes...</p>
            </iframe>
        </div>
    </ion-content>
</ion-view>
