<ion-view view-title="{{pageTitle}}">
    <ion-nav-buttons side="left" id="search-type-nav-button">
        <button style="border: transparent" class="button button-outline button-icon icon ion-android-arrow-back button-stable" ng-click="backButtonClick()" ng-dblclick="backButtondblClick()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh Documents.." on-refresh="doRefreshDocs()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="doc in documents"
                      href="#/tab/search/{{mfgID}}/{{mfgName}}/{{modelNumber}}/{{doc.value}}/{{doc.name | base64Encode}}">
                <p>{{doc.name}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-dark" ng-click="favorite(mfg)">
                    <i class="icon ion-heart assertive"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
