<ion-view view-title="{{pageTitle}} - Models">
    <ion-nav-buttons side="left" id="search-type-nav-button">
        <button style="border: transparent" class="button button-outline button-icon icon ion-android-arrow-back button-stable" ng-click="backButtonClick()" ng-dblclick="backButtondblClick()"></button>
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh Models.." on-refresh="doRefreshModels()">
    </ion-refresher>
    <ion-list ng-if="models">
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap"
                href="#/tab/search/{{mfgID}}/{{mfgName}}/{{mdl.value}}" ng-repeat="mdl in models">
          <h2>{{mdl.name.split(' (')[0]}}</h2>
          <p>{{mdl.name.split(' (')[1].replace(")", "")}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
