<ion-view view-title="History">
  <ion-content class="">
      <ion-list ng-if="history">
          <div class="item item-divider">
              Documents (PDFs)
          </div>
          <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" ng-repeat="histItem in history | filter: {context: 'DOC'}"
                    href="#/tab/search/{{histItem.metadata.mfg_id}}/{{histItem.metadata.mfg_name}}/{{histItem.metadata.model_number}}/{{histItem.metadata.document_ref}}/{{histItem.metadata.document_name | base64Encode}}">
              <h3>{{histItem.metadata.mfg_name}} [{{histItem.metadata.model_number}}]<span class="item-note">{{histItem.date_added | date:'MM/dd/yy | h:mma'}}</span></h3>
              <p>{{histItem.metadata.document_name}}<span class="item-note"></span></p>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <div class="item item-divider">
              Parts (Search)
          </div>
          <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap"
                    href="#" ng-click="openPartDetail(item.metadata.partno)" ng-repeat="item in history | filter: {context: 'PART'}">
              <h3>{{item.metadata.name}}<span class="item-note">{{item.date_added | date:'MM/dd/yy | h:mma'}}</span></h3>
              <p>{{item.metadata.partno}}<span class="item-note"></span></p>
              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
