<ion-view view-title="{{currentSearchType.label}} Search">
    <ion-nav-buttons side="left" id="search-type-nav-button">
        <button id="search-type-button" class="button button-outline button-icon icon ion-android-funnel button-stable"
                menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-outline button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
        </button>
    </ion-nav-buttons>
    <ion-content ng-show="currentSearchType.value === 'MFG'" id="manufacturer" >
            <ion-refresher pulling-text="Pull to refresh Manufacturers..." on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list>
                <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap"
                          href="#/tab/search/{{mfg.value}}/{{mfg.name}}" ng-repeat="mfg in mfgs">
                    <h2>{{mfg.name}}</h2>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <ion-option-button class="button-dark" ng-click="favorite(mfg)">
                        <i class="icon ion-heart assertive"></i>
                    </ion-option-button>
                </ion-item>
            </ion-list>
    </ion-content>
    <ion-content ng-show="currentSearchType.value === 'PART'" id="parts" class="ng-hide">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" target="_self"
                      href="#" ng-click="openPartDetail(part)" ng-repeat="part in parts">
                <h2>{{part.name}}</h2>
                <p>Part &#x2116;: {{part.partno}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
