<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Search Tab -->
    <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- History Tab -->
    <ion-tab title="History" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/history">
        <ion-nav-view name="tab-history"></ion-nav-view>
    </ion-tab>


    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
