<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- include after ionic.css -->
    <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.css" rel="stylesheet">
    <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.js"></script>
</head>
    <body ng-app="e2">
        <ion-side-menus>
            <ion-pane ion-side-menu-content>
                <!--
                  The nav bar that will be updated as we navigate between views.
                  -->
                <ion-nav-bar class="bar-stable" align-title="center" delegate-handle="mainNav">
                    <ion-nav-back-buttont>
                    </ion-nav-back-buttont>
                </ion-nav-bar>
                <ion-nav-view></ion-nav-view>
            </ion-pane>
            <ion-side-menu side="left" delegate-handle="searchTypeSideMenu">
                <ion-header-bar class="bar-positive">
                    <h1 class="title">Search Type</h1>
                </ion-header-bar>
                <ion-content has-header="false">
                    <ion-radio ng-repeat="searchType in searchTypes"
                               ng-model="model.searchType"
                               ng-change="model.searchTypeChange()"
                               ng-value="searchType.value">
                        {{searchType.label}}</ion-radio>
                </ion-content>
            </ion-side-menu>
        </ion-side-menus>



</body>
</html>
